The mean (or average), the median, and the mode are usually the initial things data analysts look at in any sample data when trying to find the information about the data.

# Mean

Mean is average for a given set of data.

To calculate the arithmetic mean of a set of data we must first add up (sum) all of the data values (x) and then divide the result by the number of values (n).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics

In [2]:
data =  [1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8]

In [3]:
data

[1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8]

In [4]:
1+2+3+4+4+4+4+5+6+7+7+7+8

62

In [5]:
62/13

4.769230769230769

In [6]:
statistics.mean(data)

4.769230769230769

In [7]:
df = sns.load_dataset("mpg")

In [8]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [9]:
df["weight"].mean()

2970.424623115578

In [10]:
df["acceleration"].mean()

15.568090452261291

In [11]:
df["displacement"].mean()

193.42587939698493

In [12]:
df.mean()

/var/folders/29/2ygjxyfd2jd5w3td8kl8s3b80000gn/T/ipykernel_20398/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

# Median

When the values in a set of data are arranged in ascending or descending order, then the value of the middle term in that set is known as the median of the set.

The median is a better measure of the middle when there are extreme measures in the data set.

In [13]:
data

[1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8]

median = 4

In [14]:
statistics.median(data)

4

In [15]:
df["weight"].median()

2803.5

In [16]:
df["horsepower"].median()

93.5

In [17]:
df["acceleration"].median()

15.5

In [18]:
df.median()

/var/folders/29/2ygjxyfd2jd5w3td8kl8s3b80000gn/T/ipykernel_20398/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model_year        76.0
dtype: float64

The median uses the position rather than the specific value of each data entry. If the extreme values of a data set change, the median usually does not change.

This is why the median is often used as the average for house prices. If one mansion costing several million dollars sells in a community of much-lower-priced homes, the median selling price for houses in the community would be affected very little, if at all.

# Mode

The mode of a data set is the value that occurs most frequently.

In [25]:
data

[1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8]

In [26]:
statistics.mode(data)

4

In [27]:
df["cylinders"].mode()

0    4
Name: cylinders, dtype: int64

In [28]:
df.mode(axis = 0, dropna = False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [29]:
len(df[df["cylinders"]==4])

204

Changing just one number in a data set can change the mode dramatically

In [30]:
len(df[df["weight"]==1985])

4

In [31]:
len(df[df["weight"]==2130])

4

In [32]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000